## REQUIRED VARIABLES

# Use "https://your-url.com" if using HTTPS for site
GHOST_BLOG_URL=http://your-url.com

# Generate a secure password with:
#   $>openssl rand -base64 14
GHOST_DB_ROOT_PASSWD=

## NGINX

NGINX_HTTP_PORT=
NGINX_HTTPS_PORT=
NGINX_DATA_DIR=
NGINX_LOG_DIR=

## CERTBOT

CERTBOT_CONF_DIR=
CERTBOT_WWW_DIR=

## GHOST BLOG

GHOST_IMAGE_VER=5-alpine
GHOST_WEB_PORT=
GHOST_CONTENT_DIR=

GHOST_DB_PASSWD=
GHOST_DB_NAME=

## EMAIL CONFIG

GHOST_MAIL_TRANSPORT=
GHOST_MAIL_SERVICE=
GHOST_MAIL_HOST=
GHOST_MAIL_PORT=
GHOST_MAIL_SECURE=
GHOST_MAIL_USER=
GHOST_MAIL_PASSWORD=

## MARIADB DB

MARIADB_IMAGE_VER=
MARIADB_DATA_DIR=
MARIADB_PORT=
