**/.env
**/*.bak
**/*.tmp

!**/*.example
!**/*example_*
!**/*example_*.*
!**/_example
!**/_example.*

# Ignore ghost directory
container_data/ghost/*
!container_data/ghost/themes/

# Ignore nginx dir
container_data/nginx/*
container_data/nginx/conf/*

!container_data/nginx/conf
!container_data/nginx/conf/blog.conf

# Ignore db
container_data/db/

# Ignore logs
container_data/logs

# Ignore backups
backup/
