**/.env
**/*.bak
**/*.tmp

!**/*.example
!**/*example_*
!**/*example_*.*
!**/_example
!**/_example.*

# Ignore ghost directory
container_data/ghost/*
!container_data/ghost/themes/

# Ignore nginx dir
container_data/nginx/*
!container_data/nginx/blog.conf

# Ignore db
container_data/db/
