baseURL = 'https://techobyte.cc/'
languageCode = 'en-us'
title = 'Techcobyte'

theme = "PaperModX"

pygmentsUseClasses = true

[minify]
disableXML = true
minifyOutput = true

[params]
# env = "production"
title = "Techobyte"
description = "Articles, guides, tips & tricks, for a range of technology topics."
keywords = [
    "blog",
    "technology",
    "bash",
    "powershell",
    "python",
    "wsl",
    "proxmox",
    "linux",
    "windows",
    "selfhost",
    "selfhosting",
    "selfhosted",
]
author = "Techobyte Digital"
DateFormat = "January 2, 2006"
defaultTheme = "auto"
disableThemeToggle = false
ShowReadingTimee = true
ShowShareButtons = true
ShowPostNavLinks = true
ShowBreadCrumbs = true
ShowCodeCopyButtons = true
disableSpecial1stPost = false
disableScrollToTop = false
comments = false
hidemeta = false
hideSummary = false
showtoc = false
tocopen = false

# [params.assets]
# favicon = "<link / abs url>"
# favicon16x16 = "<link / abs url>"
# favicon32x32 = "<link / abs url>"
# apple_touch_icon = "<link / abs url>"
# safari_pinned_tab = "<link / abs url>"

# [params.label]
# text = "Home"
# icon = "/apple-touch-icon.png"
# iconHeight = 35

# [params.profileMode]
# enabled = false
# title = "ExampleSite"
# subtitle = "This is subtitle"
# imageUrl = "<img location>"
# imageWidth = 120
# imageHeight = 120
# imageTitle = "my image"

# [[params.profileMode.buttons]]
# name = "Posts"
# url = "posts"

# [[params.profileMode.buttons]]
# name = "Tags"
# url = "tags"

# [params.homeInfoParams]
# Title = "Techobyte"
# Content = "Another technology blog"

[[params.socialIcons]]
name = "twitter"
url = "https://twitter.com/techobyte"

[[params.socialIcons]]
name = "github"
url = "https://github.com/Techobytedigital"

[params.cover]
hidden = true
hiddenInList = true
hiddenInSingle = true

[params.editPost]
URL = "https://github.com/Techobytedigital/techobyte-blog/tree/main/site/content"
Text = "Suggest Changes"
appendFilePath = true

[params.fuseOpts]
isCaseSensitive = false
shouldSort = true
location = 0
distance = 1_000
threshold = 0.4
minMatchCharLength = 0
keys = ["title", "permalink", "summary", "content"]

## Codefence markup
[markup]
[markup.highlight]
anchorLineNos = true
codeFences = true
guessSyntax = false
hl_Lines = ''
hl_inline = false
lineAnchors = ''
lineNoStart = 1
lineNos = true
lineNumbersInTable = true
noClasses = true
## Options: https://gohugo.io/quick-reference/syntax-highlighting-styles/
#  Generate styles with: hugo gen chromastyles --style=<chosen-style > static/css/syntax.css
style = 'doom-one2'
tabWidth = 4
wrapperClass = 'highlight'

## Navigation menu
[menu]
# Tutorials
[[menu.main]]
identifier = "bytes"
name = "Bytes"
url = "/bytes/"
weight = 10

# Tutorials/WSL
[[menu.main]]
identifier = "wsl"
name = "WSL"
url = "/bytes/wsl"
parent = "bytes"
weight = 2

## Posts
[[menu.main]]
identifier = "bits"
name = "Bits"
url = "/bits/"
weight = 20
