<div class="c-mobile-header">
    <a href="#" id="mobile-menu" class="c-mobile-header__link" title="Menu">
        Menu
    </a>

    <a class="c-mobile-header__logo" href="{{@site.url}}" title="{{@site.title}}">
        <img class="c-mobile-header__logo__image" src="{{@site.logo}}" alt="{{@site.title}}">
    </a>
</div>